<strong>Hi, {{ organizer }}</strong>
<p>There is a new subscription to the meetup: {{ meetup }}</p>
<p>
  <strong>Subscriber: {{ subscriber }}</strong><br />
  <strong>Email: {{ email }}</strong>
</p>
